<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button #button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar">
                    </span> <span class="icon-bar"></span> 
            </button>
            <a [routerLink]="mainPage" class="navbar-brand">Machine Ant</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li *ngFor="let menu of menus" routerLinkActive="active">
                    <a [routerLink]="menu.routerLink" (click)="toggle(button)">
                        <i [class]="menu.routerIcon"></i>                        
                        {{menu.routerTitle}}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="cursorPoint dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        管理員 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a (click)="onLogout()" class="cursorPoint navbar-link">登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>