<h1>
    Welcome Back!
</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div class="top-row">
        <div class="field-wrap">
            <label>
                姓<span class="req">*</span>
              </label>
            <input type="text" formControlName="firstName">
        </div>

        <div class="field-wrap">
            <label>
                名<span class="req">*</span>
              </label>
            <input type="text" id="lastName" formControlName="lastName">
        </div>
    </div>
    <div class="field-wrap">
        <label>
              帳號<span class="req">*</span>
            </label>
        <input type="email" formControlName="email">
    </div>

    <div class="field-wrap">
        <label>
              密碼<span class="req">*</span>
        </label>
        <input type="password" formControlName="password">
    </div>

    <button class="button button-block" [disabled]="!myForm.valid">Submit</button>
</form>