<div class="text-center">
  <pagination-template #p="paginationApi" [id]="id" [maxSize]="maxSize" (pageChange)="pageChange.emit($event)">

    <ul class="pagination pagination" role="navigation" [attr.aria-label]="screenReaderPaginationLabel">
      <!--第一頁-->
      <li class="pagination-first page-item cursorPoint" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.setCurrent(0)">«</a>
      </li>
      <!--上頁-->
      <li class="pagination-prev page-item cursorPoint" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">‹</a>
      </li>
      <!--中間-->
      <li class="pagination-page page-item cursorPoint" [class.active]="p.getCurrent() === page.value" *ngFor="let page of p.pages">
        <a class="page-link" (click)="p.setCurrent(page.value)">
          <span>{{ page.label }}</span>
        </a>
      </li>
      <!--下頁-->
      <li class="pagination-next page-item cursorPoint" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="GoNext(p)">›</a>
      </li>
      <!--第後頁-->
      <li class="pagination-last page-item cursorPoint" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.setCurrent(p.getLastPage())">»</a>
      </li>
      <li class="pagination-last page-item myInput">
        <input type="text" class="form-control" [(ngModel)]="perPageNum" (blur)="emitPerPage()" (keyup.enter)="emitPerPage()">
      </li>
    </ul>
  </pagination-template>
</div>