{{myForm.submitted}}
<form class="form-horizontal" role="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroupInputLarge">圖示</label>
        <div class="col-sm-4">

            <img style="display: inline-block" [src]="filePreviewPath | fileURL" width="200" />
            <!--<button type="button" (click)="upload()">text</button>{{totalProgress}}-->
            <button type="button" class="btn btn-sm btn-primary" (click)="file.click(); file.value=null">
                <input #file type="file" class="none" ng2FileSelect [uploader]="uploader" />
                <i class="fa fa-upload"></i>
                <font>選擇圖片</font>
            </button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroupInputLarge">
            <i class="color-red">*</i>
            設備編號
        </label>
        <div class="col-sm-4">
            <input class="form-control" type="text" [ngModel]="device?.deviceId" formControlName="deviceId" placeholder="設備編號">

            <div class="alert alert-danger" role="alert" 
                 *ngIf="myForm.get('deviceId').invalid && (myForm.get('deviceId').touched || submitted)" >
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"></span> 必填項目
            </div>
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroupInputLarge">
            <i class="color-red">*</i>
            資料名稱
        </label>
        <div class="col-sm-4">
            <input class="form-control" type="text" [ngModel]="device?.name" formControlName="name" placeholder="資料名稱">
            <div class="alert alert-danger" role="alert" 
                 *ngIf="myForm.get('name').invalid && ( myForm.get('name').touched || submitted)" >
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"></span> 必填項目
            </div>
        </div>

    </div>

    <hr>
    <button class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i>
        <font *ngIf="isAdd">新增</font>
        <font *ngIf="!isAdd">修改</font>
    </button>
</form>