<!--https://embed.plnkr.co/AuFMJVHpk9OaLr62puS1/-->
<div class="background" style="background:transparent"
     [@popup] (@popup.done)="animationDone($event)" *ngIf="popupConfig.show">
  <div class="dialog">
    <header class="topHeader">
      <label class="popTitle" [innerHTML]="popupConfig.title"></label>
    </header>
    <span class="RightTop cursorPoint" (click)="close()">
                <span class="icon-cross cycleCross " style="background-color: white"></span>
    </span>

    <article class="content">
      <ng-content></ng-content>
    </article>

  </div>
  <div *ngIf="autoClose; else elseBlackground" class="background" (click)="close()"></div>

  <ng-template #elseBlackground>
    <div class="background"></div>
  </ng-template>
</div>