<form class="form-horizontal" role="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label class="col-sm-2 control-label" for="formGroupInputLarge">產品名稱</label>
    <div class="col-sm-4">
      <input class="form-control" [ngModel]="production?.name" type="text" formControlName="name" placeholder="產品名稱">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="formGroupInputLarge">需求時間</label>
    <div class="col-sm-4">
      <p-calendar [ngModel]="production?.requireDate"
            [readonlyInput]="true" 
            [showTime]="true" 
            hourFormat="24"
            dateFormat="yy-mm-dd" 
            [yearNavigator]="true"W
            [monthNavigator]="true"
            [yearRange]="yearRange"
            showIcon="true"
            icon="icon-calendar"
            placeholder="需求時間"
            formControlName="requireDate"></p-calendar>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="formGroupInputLarge">數量</label>
    <div class="col-sm-4">
      <p-spinner [ngModel]="production?.count" formControlName="count" placeholder="數量"></p-spinner>
    </div>
  </div>

  <hr>
  <button class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i>
        <font *ngIf="isAdd">新增</font>
        <font *ngIf="!isAdd">修改</font>
  </button>
</form>