<td style="width: 40%">
  <svg style="width: 100%" [attr.id]="'svg'+item._id"></svg>
  <!--{{item._id}}-->
</td>
<td>
  <label>{{ item?.production['name'] }}</label>
</td>
<td>
  <label>{{ item?.device['name'] }}</label>
</td>
<td>
  <label>{{item?.scheduleDate | date: 'yyyy-MM-dd HH:mm:ss'}}</label>
</td>
<td>
  <p>{{ item?.creator['firstName'] + item?.creator['lastName'] }}</p>
  <p>{{item.createData | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
</td>
<td>
  <p [ngStyle]="state">{{state.text}}</p>
</td>
<td>
  <button class="btn btn-sm btn-warning" (click)="switchEdit(item)"><i class="fa fa-pencil"></i> 修改</button>
  <button class="btn btn-sm btn-danger" (click)="onDelete(item)"><i class="fa fa-trash"></i> 刪除</button>
</td>