<!--<h1>
    登入
</h1>-->
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="field-wrap">
        <label title #account>
              帳號<span class="req">*</span>
              <span class="color-red" 
                    *ngIf="myForm.get('email').invalid && (myForm.get('email').touched || submitted)">
                    請輸入正確的信箱
              </span>
        </label>
        <input type="email" 
               [focus-change]="account"
               formControlName="email"
               required>        
    </div>

    <div class="field-wrap">
        <label title #password>
              密碼<span class="req">*</span>
              <span class="color-red" 
                    *ngIf="myForm.get('password').invalid && (myForm.get('password').touched || submitted)">
                    密碼格式不符合，不可少於4碼
              </span>
        </label>
        <input type="password" 
               [focus-change]="password"
               formControlName="password"
               required>
        
    </div>
    <p class="forgot">

        <label>
            <input type="checkbox" formControlName="remeberMe" hidden>
            <i class="cursorPoint color-white fa" 
               [ngClass]="{'fa-check-square-o':myForm.value.remeberMe, 'fa-square-o' : !myForm.value.remeberMe}">
            </i>            
            <font class="cursorPoint color-white">保持登入30天</font>
        </label>        
        <!--<a href="javascript:void()">Forgot Password?</a>-->
    </p>

    <button class="button button-block">登入</button>

</form>