<div class="w3-container w3-top w3-black w3-large" style="z-index:4">
    <!--左邊區塊-->
    <a class="w3-btn w3-hide-large " (click)="switchMenu()">
        <i class="fa fa-bars"></i> &nbsp;Menu
    </a>
    <a class="w3-btn  "
            *ngIf="checkLogin()"
            routerLink="/runschedule"
            routerLinkActive="w3-light-grey">
        <i class="fa fa-info-circle"></i> 生產
    </a>
    <a class="w3-btn  "
            *ngIf="checkLogin()"
            routerLink="/prod"
            routerLinkActive="w3-light-grey">
        <i class="fa fa-info-circle"></i> 產品
    </a>
    <a class="w3-btn  "
            *ngIf="checkLogin()"
            routerLink="/sched"
            routerLinkActive="w3-light-grey">
        <i class="fa fa-info-circle"></i> 生產排程
    </a>
    <a class="w3-btn  "
            *ngIf="checkLogin()"
            routerLink="/machine"
            routerLinkActive="w3-light-grey">
        <i class="fa fa-info-circle"></i> 設備
    </a>
    <!--右邊區塊-->
    <a class="w3-right w3-btn "
            routerLink="/auth"
            routerLinkActive="w3-light-grey">
        <i class="fa fa-info-circle"></i>
        <span *ngIf="checkLogin()">登出</span>
        <span *ngIf="!checkLogin()">登入</span>
    </a>
</div>

