.backgroundffc868 {
    background-color: #fcffaf !important;
}

.backgroundFFEC91 {
    background-color: #FFEC91;
}

.graybackground {
    background-color: gray;
}

.Nobackground {
    background: transparent;
}


.backgroundffa000 {
    background: #ffa000;
}

.background40c4ff {
    background: #40c4ff;
}

.background00e676 {
    background: #00e676;
}

.backgroundffd53a {
    background: #ffd53a;
}

.backgroundff7aa7 {
    background: #ff7aa7;
}

.backgroundRed {
    background: red;
}

.backgroundf5bbd8 {
    background: #f5bbd8
}

.backgroundGreen {
    background: #5cb85c;
}
.backgroundb6eaff {
    background: #b6eaff !important;
}

.background569c34 {
    background:  #569c34
}