<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" *ngIf="isShow" >
    <div class="modal-content">
      <div class="modal-body">

        <div class="alert" role="alert" [ngClass]="nowClassType.title">
          <span class="fa" [ngClass]="nowClassType.icon" aria-hidden="true"></span>
          <span class="sr-only"></span>{{message?.title || '系統錯誤'}}
        </div>
        {{message?.error?.message || message?.message || '系統發生錯誤'}}

      </div>
      <div class="modal-footer">
        <button *ngIf="isConfirm" type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="ok()">OK</button>
      </div>
    </div>
  </div>
</div>