<td>
  <label>{{item.production.name}}</label>
</td>
<td>
  <label>{{item.device.name}}</label>
</td>
<td>
  <label>{{item.scheduleDate | date: 'yyyy-MM-dd HH:mm:ss'}}</label>
</td>
<td>
  <label>{{item.actionDate | date: 'yyyy-MM-dd HH:mm:ss'}}</label>
</td>
<td>
  <label>{{item.finishDate | date: 'yyyy-MM-dd HH:mm:ss'}}</label>
</td>
<td>
  <label>{{totalTime }}</label>
</td>
<td>
  <p>{{item.creator.firstName + item.creator.lastName}}</p>
  <p>{{item.createData| date: 'yyyy-MM-dd HH:mm:ss'}}</p>
</td>
<td>
  <p [ngStyle]="state">{{state.text}}</p>
</td>
<td>
  <button *ngIf="state.state==0" class="btn btn-sm btn-warning" (click)="runSchedule()">
          <i class="fa fa-pencil"></i>
          開始生產
          </button>
  <button *ngIf="state.state==1" class="btn btn-sm btn-warning" (click)="finishSchedule()">
          <i class="fa fa-pencil"></i>
          結束生產
          </button>
</td>