<td>
  <label>{{item.name}}</label>
</td>
<td>
  <label>{{item.count}}</label>
</td>
<td>
  <img [src]="item.imageUrl | fileURL" height="100">
</td>
<td>
  <label>{{item.requireDate | date: 'yyyy-MM-dd HH:mm:ss'}}</label>
</td>
<td>
  <p>{{item.creatorName}}</p>
  <p>{{item.createData | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
</td>
<td>
  <div class="bg-info block-schedule" *ngFor="let s of item.schedule">
    <i class="icon-clock padding" title="排程時間"></i>
    <span>{{s.scheduleDate | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
    <br>
    <i class="icon-power padding" title="生產設備"></i>
    <span>{{s.device['name']}}</span>
  </div>
</td>
<td>
  <label></label>
</td>
<td>
  <button class="btn btn-sm btn-warning" (click)="switchEdit(item)"><i class="fa fa-pencil"></i> 修改</button>
  <button class="btn btn-sm btn-danger" (click)="onDelete(item)"><i class="fa fa-trash"></i> 刪除</button>
</td>