<table class="table table-bordered table-striped">
  <thead class="thead-default">
    <tr>
      <th>設備編號</th>
      <th>資料名稱</th>
      <th>建立人</th>
      <th>功能</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of devices | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}" 
        [app-device-item]="item"></tr>
  </tbody>
</table>

<my-pagination (pageChange)="currentPage = $event;" 
               (perPageChange)="itemsPerPage = $event;"
               [perPageNum]="itemsPerPage"></my-pagination>