<!--<h1>
    註冊
</h1>-->
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div class="top-row">
        <div class="field-wrap">
            <label #firstName>
                姓<span class="req">*</span>
              </label>
            <input type="text" [focus-change]="firstName" formControlName="firstName">
        </div>

        <div class="field-wrap">
            <label #lastName>
                名<span class="req">*</span>
              </label>
            <input type="text" [focus-change]="lastName" formControlName="lastName">
        </div>
    </div>
    <div class="field-wrap">
        <label #email>
              帳號<span class="req">*</span>
            </label>
        <input type="email" [focus-change]="email" formControlName="email">
    </div>

    <div class="field-wrap">
        <label #password>
              密碼<span class="req">*</span>
        </label>
        <input type="password" [focus-change]="password" formControlName="password">
    </div>

    <button class="button button-block" [disabled]="!myForm.valid">註冊</button>
</form>