<!--第一種，直接放tag在裡面的-->
<div class="popup" *ngIf="popupConfig.show" 
     [@popup] (@popup.done)="animationDone($event)"
     (click)="close($event)">
  <div class="window" style="margin: 5% auto; width: 80%;">
    <header class="topHeader">
      <label class="popTitle" [innerHTML]="popupConfig.title"></label>

    </header>

<!--關閉按鈕-->
    <span class="RightTop cursorPoint" (click)="close()">
                <span class="icon-cross cycleCross " style="background-color: white"></span>
    </span>

    <article class="content">
      <ng-content></ng-content>
    </article>
  </div>
</div>