.hovicon {
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 90px;
    line-height: 90px;
    margin: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 90px;
    z-index: 1;
}

.hovicon.small {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    margin: 7px;
    width: 45px;
}

.hovicon.mini {
    font-size: 15px;
    height: 30px;
    line-height: 32px;
    margin: 7px;
    width: 30px;
}

.hovicon.auto-width {
    height: auto;
    padding: 15px;
    width: auto;
}

.hovicon:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border-radius: 50%;
    box-sizing: content-box;
    content: '';
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.hovicon:before {
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 90px;
    speak: none;
    text-transform: none;
}

/* Effect 4 */

.hovicon.effect-4 {
    box-shadow: 0 0 0 4px white;
    height: 92px;
    width: 92px;
}

.hovicon.effect-4.small {
    height: 45px;
    width: 45px;
}

.hovicon.effect-4.mini {
    height: 30px;
    width: 30px;
}

.hovicon.effect-4.sub-a {
    -moz-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hovicon.effect-4:before { line-height: 92px; }

.hovicon.effect-4:after {
    border: 4px dashed black;
    left: -4px;
    padding: 0;
    top: -4px;
    z-index: 10;
}

.hovicon.effect-4:hover {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    color: black;
}

.hovicon.effect-4:hover i { color: black; }

/* Effect 4b */

.hovicon.effect-4.sub-b:hover {
    -moz-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hovicon.effect-4.sub-b:hover:after {
    -moz-animation: spinAround 9s linear infinite;
    -webkit-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
    from { -webkit-transform: rotate(0deg); }

    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spinAround {
    from { -moz-transform: rotate(0deg); }

    to { -moz-transform: rotate(360deg); }
}

@keyframes spinAround {
    from { transform: rotate(0deg); }

    to { transform: rotate(360deg); }
}


.line {
    background-color: #4b9cdb;
    border-radius: 15px;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.load-3 .line:nth-last-child(1) { animation: loadingC .6s .1s linear infinite; }

.load-3 .line:nth-last-child(2) { animation: loadingC .6s .2s linear infinite; }

.load-3 .line:nth-last-child(3) { animation: loadingC .6s .3s linear infinite; }


@keyframes loadingC {
    0% { transform: translate(0, 0); }

    50% { transform: translate(0, 15px); }

    100% { transform: translate(0, 0); }
}