*,
*:before,
*:after {
    box-sizing: border-box;
}

.none{
    display: none !important;
}
/*自訂全域css*/

.cursorPoint {
    cursor: pointer;
}

.Redhovre {
    color: #337ab7;
}

.Redhovre:hover {
    color: #FF4D00;
}

.Bluehovre {}

.Bluehovre:hover {
    color: skyblue;
}

input.ng-invalid.ng-touched{
    border: 1px solid red
}